# Task 4

In [44]:
import pandas as pd

In [45]:
df = pd.read_csv("spotify_millsongdata.csv")

In [46]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [47]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [48]:
df.shape

(57650, 4)

In [49]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [50]:
df =df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [51]:
df.head(10)

,artist,song,text
0,Genesis,Open Door,"I see your smiling face, by the open door \r\..."
1,Whitesnake,Fool For Your Loving,"I was born under a bad sign, left out in the c..."
2,Allman Brothers Band,Old Friend,"You know hard times, just an old friend, just ..."
3,Townes Van Zandt,Highway Kind,"My days, they are the highway kind \r\nThey o..."
4,Norah Jones,Tragedy,[Intro] \r\nIt's a tragedy \r\nIt's a traged...
5,Whitesnake,Girl,I have never known a woman \r\nWho loves me l...
6,Britney Spears,My Prerogative,People can take everything away from you \r\n...
7,Loretta Lynn,Farther To Go,I've been up to the top of a heartbreak mounta...
8,Neil Sedaka,The Hungry Years,Girl we made it to the top \r\nwe went so hig...
9,Savage Garden,I Want You,Anytime I need to see your face I just close m...

In [52]:
df['text'][0]

"I see your smiling face, by the open door  \r\nThere's the morning light  \r\nShining in your hair, and in your eyes  \r\n  \r\nAnd just a little way behind that smile of yours  \r\nI see another one, oh so far away  \r\nIf only for one second, I could hold you close to me  \r\nWhen the Master calls for me again  \r\nThere's nothing I can say, or I can do  \r\n  \r\nGoodbye, my love  \r\nTime has come to say farewell  \r\nI hear the call again  \r\nGoodbye to the world  \r\nI've shouted for so long  \r\nOh there's so much my love, that I can never say  \r\n  \r\nAnd in a little while, in a little while  \r\nThere's nothing left to see  \r\n  \r\nAs the years go by and I have not returned  \r\nAnd the night has come, falling all around  \r\nOoh if you count the stars you'll know  \r\nHow many have gone out  \r\nAnd when the Master calls for me again  \r\nThere's nothing that I can say  \r\nOr I can do  \r\n  \r\nStand in the sun  \r\nShut your eyes and feel the world  \r\nIt's changing every day  \r\nGoodbye my love  \r\nEach day will seem so long  \r\nOoh there's so much I feel, that I can never say  \r\n  \r\nI can't see you  \r\nI can't feel you anymore  \r\nI've just a memory of that open door\r\n\r\n"

In [53]:
df = df.sample(5000)

In [54]:
df.shape

(5000, 3)

# Text cleaning

In [55]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex = True)

In [56]:
df.tail(5)

,artist,song,text
2242,Ten Years After,"I May Be Wrong, But I Won't Be Wrong Always","tell me baby, tell what's on your mind \r tel..."
2327,Billy Joel,Big Man On Mulberry Street,why can't i lay low \r why can't i say what i...
2576,Mazzy Star,Look On Down From The Bridge,look on down from the bridge \r there's still...
1824,Chaka Khan,I Can't Be Loved,"i've been thinking 'bout yu, oh baby \r and i..."
1618,Our Lady Peace,Not Enough,there's nothing you can say \r nothing you ca...

In [57]:
import nltk
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import pickle

In [58]:
from nltk.stem.porter import PorterStemmer
stemmer = PorterStemmer()

def token(txt):
    token = nltk.word_tokenize(txt)
    a = [stemmer.stem(w) for w in token]
    return " ".join(a)

In [59]:
token("you are beautiful, beauty")

'you are beauti , beauti'

In [60]:
df['text'].apply(lambda x : token(x))

1950    there 's no hold me back i 'm not driven by fe...
2145    if i touch myself the way you touch me if i co...
3298    ray charl jimmi lewi ( indent ) [ both togeth ...
4761    in the grand way she love me the way she hold ...
3654    stand here in front of the mirror it gon na be...
                              ...
2242    tell me babi , tell what 's on your mind tell ...
2327    whi ca n't i lay low whi ca n't i say what i m...
2576    look on down from the bridg there 's still fou...
1824    i 've been think 'bout yu , oh babi and i wond...
1618    there 's noth you can say noth you can do ther...
Name: text, Length: 5000, dtype: object

In [61]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [62]:
tfidvector = TfidfVectorizer(analyzer='word',stop_words='english')
matrix = tfidvector.fit_transform(df['text'])
similarity = cosine_similarity(matrix)

In [63]:
similarity[0]

array([1.        , 0.23852198, 0.11332761, ..., 0.03409878, 0.12293083,
       0.09636077])

In [68]:
df[df['song'] == 'Open Door']

    artist       song                                               text
0  Genesis  Open Door  i see your smiling face, by the open door  \r ...

In [69]:
def recommendation(song_df):
    idx = df[df['song'] == song_df].index[0]
    distances = sorted(list(enumerate(similarity[idx])),reverse=True,key=lambda x:x[1])
    
    songs = []
    for m_id in distances[1:21]:
        songs.append(df.iloc[m_id[0]].song)
        
    return songs

In [71]:
recommendation('Open Door')

['Stray Heart',
 'Gypsy',
 'Girls And Boys',
 'Here Comes The Hammer',
 'Deliverance',
 "I Can't Understand It",
 'Because We Can',
 'Tell Me What You Want',
 'One Night Town',
 'Does He Know?',
 'Last Chance',
 'Million Miles Away',
 'Need Her Love',
 'Emotion',
 'Paradise',
 'Need Your Love',
 'Standing O',
 'I Just Got Some',
 'Greatest Show On Earth',
 'One More Time']

In [73]:
import pickle

# Save the similarity array
with open('similarity.pkl', 'wb') as file:
    pickle.dump(similarity, file)

# Save the dataframe
with open('df.pkl', 'wb') as file:
    pickle.dump(df, file)